body {
    color: tan;
    background-color: black;
}
header
{
    margin: 5%;
}
main {
    margin: 5%;
}
section {
    float: right;
    margin: 10px;
    padding: 10px;
}
a {
    color: tan;
}

td {
    padding-right: 30px;
}