body {
    color: darkgreen;
    background-color: black;
}
header
{
    margin: 2%;
}
main {
    margin: 2%;
}

nav {
    text-align: center;
}

section {
    float: right;
    margin-top: 20px;
    margin-bottom: 100%;
    margin-right: 5px;
    margin-left: 20px;
}
a {
    color: darkgreen;
}
a:hover {
    color: green;
}

p {
    text-align: justify;
}
footer {
    margin-top: 5%;
    padding-top: 5%;
    text-align: center;
}
td {
    padding-right: 30px;
}